{"filter":false,"title":".gitignore","tooltip":"/.gitignore","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":3,"column":12},"end":{"row":3,"column":12},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"7b0906513ea31287e460ef7124df47e46a788df2","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":3,"column":12},"end":{"row":4,"column":0},"action":"remove","lines":["",""],"id":2}]]},"timestamp":1567108847570}